@import url('https://fonts.googleapis.com/css2?family=Lato');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

button:active {
  transform: scale(0.97, 0.97);
}

.container {
  width: 80%;
  margin: 0 auto;
  /* color: #c4c4c4; */
}

.main {
  margin-top: 70px;
  position: relative;
  padding-bottom: 200px;
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
}

@keyframes ani1 {
  100% {
    opacity: 1;
  }
}

@keyframes toast-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes toast-in-top {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
